.card {
  height: 500px;
  width: 400px;
  background: #e39000;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.6;
  text-align: center;
}

.card:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s;
}

.cardImage {
  width: 100%;
  max-height: 50%;
  border-radius: 10px;
}

.cardText {
  color: #000;
  font-size: 17px;
}
